page-grupo-operacion {
  .toolbar-title-md {
    font-size: 15px;
    color: #ff8c69 !important;
    text-align: center;
  }

  .img-navbar {
    width: 20%;
    display:block;
    margin:auto;
  }

  .bar-buttons-md {
    order: 1;
  }

  .detalle p {
    color: #C0451E;
  }

  .scroll-content {
    margin-top: 50px;
  }

}
