page-detalle-grupo {
  .toolbar-title-md {
    font-size: 15px;
    color: #ff8c69 !important;
    text-align: center;
  }

  .img-navbar {
    width: 20%;
    display:block;
    margin:auto;
  }

  .bar-buttons-md {
    order: 1;
  }

  .detalle p {
    color: #C0451E;
  }

  .item-md ion-icon[item-end] {
    margin-top: 4px;
    margin-bottom: 16px;
  }

  .boton-detalle {
    padding-top: 18px;
    color: #C0451E;
  }

  .card-md {
    margin: 0px;
    width: 100%;
  }

  .boton_arriba {
    margin: 4px;
  }
}
